#blog {
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: grid;
    justify-items: center;
    row-gap: 20px;
    align-items: center; /* Vertically center the blog container */
    min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
  }
  
  .blog-container {
    display: grid;
    grid-template-columns: 1fr; /* Specify a single column */
    justify-items: center; /* Center items horizontally */
    max-width: 600px; /* Optional: Limit the maximum width of the blog container */
  }
  

  .blog-box {
    width: 500px;
    background: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
  }
  
  .blog-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}