#blog {
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: grid;
  justify-items: center;
  row-gap: 20px;
  align-items: center; 
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr; 
  justify-items: center; 
  max-width: 600px; 
}


.blog-box {
  width: 600px;
  background: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
}


.share-links {
  display: flex;
  align-items: center;
}

.share-links img {
  width: 20px;
  height: auto;
  margin: 0 10px;
}