footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.social-links img {
    width: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.social-links {
    display: flex;
}